@model BusinessPermit.Models.ZoningClearance

@{
    Layout = "~/Views/Shared/_FrontEnd.cshtml";
}
<br />
<br />
<center>
    <div class="alert alert-success" style="width:500px" role="alert">
        You successfully submitted your application, please wait for us to respond.
    </div>
    <a href="~/">
        Back to Home
    </a>
</center>


@section script {

}

