@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Marikina City</title>
    <link href="~/dist/css/metro-bootstrap.min.css" rel="stylesheet" />
    <link href="~/dist/css/agency.min.css" rel="stylesheet" />
    <link href="~/dist/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/dist/css/marikina.css" rel="stylesheet" />
</head>
<body>
   
    <div id="headerWrapper">
        <div id="headerCenter">
            <div id="headerTitles">
                <img src="~/Images/Marikina.png" width="451" height="79" border="0" usemap="#Map">
                <map name="Map" id="Map">
                    <area shape="rect" coords="27,25,425,53" href="http://marikina.gov.ph">
                </map>
            </div>
        </div>
    </div>

    <br />
    <br />    
    <div class="row text-center">
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading"><a href="/ZoningForm/Create" style="color: #000">Zoning Clearance</a></h4>
            <p class="text-muted">All Commercial/Residential/Institutional/Industrial projects are required to secure Zoning Certificate before Building Permit will be issued in accordance with Marikina's Zoning Ordinance. </p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading"><a href="/Locational/Create" style="color: #000">Location Permit</a></h4>           
            <p class="text-muted">All business establishments are required to secure Locational Clearance before the Business Permit will be issued in accordance with the Marikina's Comprehensive Land Use Plan.</p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-building fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading"><a href="~/BuildingPermit/Create" style="color: #000">Building Permit</a></h4>
            <p class="text-muted">In compliance with the National Building Code, construction/renovation of buildings must secure a Building Permit before proceeding with the construction. </p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading"><a href="~/BusinessPermit/Create" style="color: #000">Business Permit</a></h4>
            <p class="text-muted">In compliance with the National Building Code, construction/renovation of buildings must secure a Building Permit before proceeding with the construction. </p>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/dist/js/jQuery-2.1.4.min.js"></script>   
    <!-- Bootstrap Core JavaScript -->
    <script src="~/dist/js/bootstrap.min.js"></script>     
    <!-- Contact Form JavaScript -->
    <script src="~/dist/js/jqBootstrapValidation.js"></script>
    <script src="~/dist/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="~/dist/js/agency.min.js"></script>    
</body>
</html>
