@using System.Configuration
<nav class="navbar navbar-default navbar-static-top top-navbar">
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown nav-toggle" onclick="CloseDropDownFromToggle(this);">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-bars"></span>
            </a>
            <ul class="dropdown-menu primary-nav">
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/Dashboard/">
                            <i class="fa fa-bar-chart text-primary fa-3x"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/Fee/">
                            <i class="fa fa-credit-card text-primary fa-3x"></i>
                            <span>Fees</span>
                        </a>
                    </li>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/ApplicationType/">
                            <i class="fa fa-file-archive-o text-primary fa-3x"></i>
                            <span>Application Type</span>
                        </a>
                    </li>
                </div>                   
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="#">
                            <i class="fa fa-file-o text-primary fa-3x"></i>
                            <span>Reports</span>
                        </a>
                    </li>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/Users/">
                            <i class="fa fa-users text-primary fa-3x"></i>
                            <span>Users</span>
                        </a>
                    </li>
                </div>       
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/UserRoles/">
                            <i class="fa fa-tasks text-primary fa-3x"></i>
                            <span>User Roles</span>
                        </a>
                    </li>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/ZoningForm/">
                            <i class="fa fa-file-o text-primary fa-3x"></i>
                            <span>Zoning</span>
                        </a>
                    </li>
                </div>    
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/ZoningForm/">
                            <i class="fa fa-file-o text-primary fa-3x"></i>
                            <span>Locational</span>
                        </a>
                    </li>
                </div>        
                <div class="col-md-1 col-sm-1 col-xs-6">
                    <li>
                        <a href="~/ZoningForm/">
                            <i class="fa fa-file-o text-primary fa-3x"></i>
                            <span>Business Permit</span>
                        </a>
                    </li>
                </div>  
            </ul>
        </li>
    </ul>
    <div class="navbar-header">
        <a href="~/Dashboard/Index" class="navbar-brand">@ConfigurationManager.AppSettings["customer"]</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">@if(Request.Cookies["App"] != null){ @Request.Cookies["App"]["fullName"].ToString() } </a></li>
        <li class="dropdown user-info">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="~/Images/2x2.jpg" class="img-square nav-image" alt="User Image">
            </a>
            <ul class="dropdown-menu">
                <li class="body-menu">
                    <img src="~/Images/2x2.jpg" class="profile-image" alt="User Image">
                    <p class="username">@if (Request.Cookies["App"] != null)
{ @Request.Cookies["App"]["fullName"].ToString() }</p>
                    <p class="position">@ConfigurationManager.AppSettings["customer"]</p>
                    <div class="pull-left">
                        <a href="#" class="btn btn-sm btn-primary">
                            Profile
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="~/Auth/Logout" class="btn btn-sm btn-primary">Logout</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>